
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">Anasayfa</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/about">Hakkımda</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/services">Hizmetler</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/article">Blog</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/contact">İletişim</a>
      </li>
      <li class="nav-item active">
        <a style="color:#07ef07;" class="nav-link" href="/sevgili-terapist">Sevgili-Terapist</a>
      </li>
      {% if session['logged_in'] %}
      <li class="nav-item active">
        <a class="nav-link"  style="color: rgb(245, 12, 12);"  href="/dashboard">Kontrol Paneli</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"  style="color: rgb(245, 12, 12);"  href="/logout">Çıkış Yap</a>
      </li>
      {% else %}
      {% endif %}
      
    </ul>
    <ul class="navbar-nav ml-auto" style="font-size: 20px;">
      <li class="nav-item active">
      <a href="https://www.instagram.com/psikegunlugum/" target="_blanlk"><i style="color: rgb(187, 36, 36);" class="fab fa-instagram"></i></a>
      <li> <a style="color: rgb(255, 255, 255);" href="tel:05055014618"><i class="fas fa-phone-volume">05055014618</i></a></li> 
       <i  style="color: rgb(255, 255, 255);" class="far fa-envelope">psikologtastan@gmail.com</i>
        
        
        
 
     </li>
 
   </ul>
  </div>
</nav>




