body {
  padding-top: 96px; /* for fix nav */
  background-color: #f2f4f7;
}
.c-hero {
  background-color: #0cf4e7;
  margin-bottom: 25px;
}
.c-hero .c-hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 20px;
}

.terapi {
  background-color: #d6dcdc;
  margin-bottom: 25px;
}

.terapi .terapi-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
}

.personel-info {
  margin-bottom: 25px;
}
.home-contact i {
  font-size: 26px;
}

.alert-info{
  background-color: #d6dcdc;
}

@media screen and (min-width: 768px) {
  .navbar li:hover a {
    background-color: teal;
  }

  .personel-info {
    display: flex;
    justify-content: flex-start;
    height: auto;
  }
  .personel-info img {
    margin-right: 20px;
    max-width: 40%;
  }

  .personel-info p {
    font-family: cursive;
    font-size: large;
    color: #101010;
    font-style: italic;
    line-height: 2.5;
  }

  .c-hero {
    background-color: #0cf4e7;
    display: flex;
  }

  .c-hero img{
    height: 210px;
    width: 100%;
  }

  .c-hero .c-hero-content h1 {
    font-size: xx-large;
    color: rgb(12, 11, 11);
  }

  .c-hero .c-hero-content a {
    align-self: flex-end;
  }

  .c-hero .c-hero-content strong {
    font-weight: bolder;
    color: black;

    border-radius: 30px;

    margin-top: -15px;
    margin-right: 31px;
  }
  #table {
    margin: 20px 0px;
    background-color: #d6dcdc;
  }

  #table h3 {
    text-align: center;
  }
  #table .table {
    display: flex;
    justify-content: space-around;
  }
  #contact-table {
    background-color: rgb(214 220 220);

    max-width: 100%;
  }

  i {
    margin: 20px;
  }
  #card-contact {
    background-color: rgb(214 220 220);
    display: flex;
    margin-top: 36px;
    max-width: 100%;
  }

  .therapy {
    max-width: 100%;
  }
  .therapy img {
    height: 100%;
    float: left;
    width: 25%;
  }
  .terapi {
    height: 200px;
  }

  #indx {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #d6dcdc;
  }

  .about img {
    width: 50%;
    float: left;
    padding-right: 20px;
  }

  .contact-icon {
    font-size: 30px;
    display: flex;
    justify-content: space-around;
  }

  #blog {
    max-width: 40%;
    margin-bottom: 5%;
    float: left;
    margin-right: 10%;
    min-height: 480px;
  }
  #blog img {
    height: 225px;
    width: 100%;
    display: block;
  }

  #blog .title {
    padding-left: 20px;
  }
  #blog .content {
    padding: 5px 10px;
  }
  footer {
    font-size: 32px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
  }
  .card-img-top{
    height: 325px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .c-hero {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .c-hero .c-hero-content{
    background-color: white;
  }

  .c-hero .c-hero-content strong {
    font-weight: bolder;
    color: black;
    border-radius: 30px;
    margin-bottom: 15px;
  }
  .c-hero .c-hero-content h1 {
    font-size: 24px;
  }

  .personel-info img{
    margin-bottom: 15px;
  }

  #indx {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #d6dcdc;
    margin-bottom: 3%;
  }

  #blog {
    margin: 5% 0%;
  }
  #blog h3{
    text-align: center;
  }
  .contact-icon {
    display: flex;
    justify-content: space-around;
    font-size: 1.25rem;
  }
  #card-contact {
    background-color: rgb(214 220 220);
    display: flex;
  }
  #contact-table {
    background-color: rgb(214 220 220);
  }
  .about img {
    width: 100%;
  }

  .therapy img {
    max-width: 100%;
  }

  #table .table {
    display: flex;
    margin-top: 20px;
    background-color: #d6dcdc;
  }
  .contact-isim{
    font-size: 1.25rem;
  }

  .card-img-top{
    height: 175px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 80%;
  }
}
