.personel-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    
}
.personel-info img{
    margin-right: 20px;
}

.personel-info p{
    margin-bottom: 5rem;
    
}


.colour{
    background-color: rgb(238, 231, 223);
}

.table{
    margin-top: 20px;
    background-color:rgba(0,0,0,.07);
    float: left;
    width: 23%;
}

.table thead,tbody{
   
    border-collapse: collapse;
}

i{
    margin: 20px;
}
.therapy img{
    height: 200px;
    float: left;
    width: 353px
}
.terapi{
    background-color:#dcdbe3;
    height: 200px;
    margin-top: 25px; 
}
.card{
    width: fit-content;
 float: right; margin-top: 25px;
background-color: rgba(0,0,0,.07);

}

.about img{
    height: 265px;
    float: left;
    padding-right: 20px;
}

.fa{
    color: blue;
    font-size: xxx-large;
}
.icon{
    color: blue;
}
.elementor-container{
    display: flex;
  
}
.elementor-icon-box-icon {
    margin-left: 160px;
    
}