{% extends "layout.html" %}

{% block body %}

<h4 style="text-align: center; font-family: cursive;">Uzman  Psikolog Elif TAŞTAN</h4>
<div class="about" style="margin-left: 20px; margin-right: 20px;">
    <img src="{{ url_for('static', filename = 'images/elif2.jpg') }}">
    <p style="text-align: justify; font-weight: 700;">İstanbul Aydın Üniversitesi Fen-Edebiyat Fakültesi
        Psikoloji bölümünden mezun oldu. Anadolu Üniversitesi Sosyal Hizmetler alanında ön lisans, Sosyoloji alanında lisans eğitimi </strong> 
    almıştır.  İstanbul Ticaret Üniversitesi Sosyal Bilimler Enstitüsü ‘nde
        Uygulamalı Psikoloji alanında yüksek lisans eğitimini   Prof.Dr. Öget
    Öktem  hocanın danışmanlığında Konuşma Bozuklukları, Kekemelik
    alanında proje çalışması ile bitirdi. <br><br>
    2005-2013 yılları arasında  İstanbul Büyükşehir Belediyesi Sağlık ve
    Sosyal hizmetler Daire Başkanlığı Özürlüler Müdürlüğü ve Meslek
    Edindirme kurslarında “İletişim, Farkındalık, Kişisel Gelişim,
    Artikülasyon, Konuşma Bozuklukları”alanında seminerler verdi. <br><br>
    2011 yılında yurtdışında yaşayan Türklere online psikolojik
    danışmanlık yapmaya başladığı dönemde  Aile Terapisti Uzman
    Psikolog İrem Bray’ın  asistanlığını yürütmüş, bu dönemde İrem
    Bray’dan  Temel Aile Terapisi eğitimi ve süpervizyonu  almıştır. <br><br>
    2012-2013 yılları arasında İstanbul İl Özel İdaresi tarafından İstanbul
    bölgesinde cinsel travmaya maruz kalmış çocuk/ergen ve ailelerine
    psiko-sosyal destek veren projeyi yürüttü. İstanbul Valiliği’ne bağlı
    Çocuk ve Gençlik Merkezi’nde  travma, cinsel istismar, adli psikoloji,
    aile ilişkileri  alanında çalıştı. <br><br>
    2016 yılında Zeytinburnu Kaymakamlığı tarafından yürütülen
    “Zeytinburnu Bağcılar bölgesinde  risk grubu taşıyan çocuk ve
    ergenlere psiko-sosyal destek”veren projede sosyal çalışmacı olarak
    görev yaptı. Proje sürecinde Zeytinburnu Sevgi Evlerinde
    psikoterapist  olarak çalıştı. 2017-2018 yılları arasında  İstanbul Çapa
    Tıp Fakültesi’nde personel eğitimleri verdi. 2018 yılında  Fide
    danışmanlık merkezinde Uzman Psikolog olarak çalıştı. 2019 Mayıs-
    Eylül arasında Heybeliada Cesaret Derneğinde Aile Eğitimleri
    vermiştir. <br><br>

    Kas hastalarına online psikolojik destek veren projede psikoterapist
    olarak çalışmıştır. Kartal göçük altında kalan aile yakınlarına
    psikolojik destek, Çorlu tren kazasında yakınlarını kaybedenlere
    psikolojik destek, Elazığ deprem bölgesinde saha çalışmaları,
    Koronovirüs döneminde sağlık çalışanları, hastalığa yakalanan ya da
    hasta yakınlarına psikolojik destek veren projelerde gönüllü
    psikoterapist olarak katkı sağlamıştır.
    EMDR travma derneği üyesidir. <br><br>
     Travma, Komleks Travma, Yas Terapisi, Çift ve Aile
    Terapisi,Depresyon,Öfke ve Stres Yönetimi, Eğitim Danışmanlığı,
    Kaygı Bozuklukları,Panik atak,Sınav Kaygısı, Fobiler gibi konularda
    çalışmaktadır. <br><br>

    <strong style="text-align: center;"> KATILDIĞI EĞİTİMLER,SEMİNERLER, KONFERASLAR</strong> <br><br>
    <ul style="line-height: 2.5;">
        <style>li{font-weight: 600;}</style>
     <li>
        Kuşdili Eğitim Merkezi, Spikerlik-Sunuculuk ve Diksiyon
        Eğitimi
     </li>   
    Eğitmenler: Tuna HUŞ, Gülgün FEYMAN, Bülent
    ÖZVEREN, Bengül ERDAMAR,ORHAN ERTANAN, Atilla
    SARIKAYALI, Gökhan İÇÖZ,2002
    <li>
        Zübeyde Hanım Kültür Merkezi, Tiyatro Eğitimi, 2005
    </li>
    <li>
        Türkiye Gazetecileri Cemiyeti Basın Müzesi, Güzel Türkçe
        Konuşma Eğitimi
    </li>
    Eğitmen: Enver SEYİTOĞLU,2006
    <li>
        İstanbul Üniversitesi 15. Uluslararası Psikoloji Kongresi, 2008
        Anadolu Üniversitesi Konuşma Bozuklukları Eğitim, Araştırma
        ve Uygulama Merkezi Kekemelik Eğitimi
    </li>
     Eğitmen: Prof.Dr. Ahmet
    KONROT,2008
    <li>
        Çocuk İstismarını Önleme Sempozyumu, 2011
    </li>
    
     <li>
        Temel Aile Terapisi Eğitimi ve Süpervizyon (120 saat)
     </li>
     Eğitmen:
    Aile Terapisti Uzm. Psikolog İrem BRAY,2012
    <li>
        Temel Danışmanlık ve Yardım Becerileri, Davranış Bilimleri
        Enstitüsü (16 Saat) 2012
    </li>
    <li>
        EMDR 1.Düzey Temel Eğitimi ve Süpervizyon, Davranış Bilimleri
        Enstitüsü (108 Saat) 
    </li>
   Eğitmenler: Emre Konuk, Prof. Dr. Ümran
    KORKMAZLAR,2012
    <li>
        EMDR 2. Düzey Temel Eğitimi ve Süpervizyon, Davranış Bilimleri
        Enstitüsü (108 Saat)
    </li>
     Eğitmenler: Emre KONUK, Prof. Dr. Ümran
    KORKMAZLAR,2013
    <li>
        Bilişsel Davranışçı Terapi, Davranış Bilimleri Enstitüsü (16 Saat)
        2012
    </li>
    <li>
        Cinsel İstismarı- İhmali, Cerrahpaşa Adli Tıp Enstitüsü (27 Saat)
    </li>
    
    Eğitmen: Prof Dr. Gökhan ORAL,2012
    <li>
        Çözüm Odaklı Terapi Eğitimi ve Süpervizyon, BRIFE ve Davranış
        Bilimleri Enstitüsü (45saat)
    </li>
    
    Eğitmen: Harvey RATNER,2012
    <li>
        IMAGO Çift Terapisi Eğitimi, Evlilik Terapileri Enstitüsü (36 Saat)
    </li>
    
    Eğitmenler: Dr. Harville HENDRİX,2012
    <li>
        Stratejik Aile Terapisi Eğitimi ve Süpervizyonu, Davranış Bilimleri
        Enstitüsü  (64 saat) 2012
    </li>
   
</ul> 
</p>
     <hr>
    <div class="contact-icon" >
 
  <a href="https://www.instagram.com/psikegunlugum/" target="_blanlk"><i style="color: rgb(187, 36, 36);" class="fab fa-instagram"></i></a>
  
  <a style="color: black;" href="tel:05055014618"><i class="fas fa-phone-volume">05055014618</i></a>
  <a style="color: black;" href="/contact#card-contact"><i class="far fa-envelope">psikologtastan@gmail.com</i></a>
   </div>
</div>

{% endblock body %}