{% extends "layout.html" %}

{% block body %}
<div class="services-article">
    <div class="image-ser">
        <img  style="height: 400px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        width: 80%;
    " class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]"  src="{{ url_for('static', filename = 'images/psikoterapi.jpg') }}" data-holder-rendered="true">
    </div>
    <div class="title-ser" style="margin: 20px;
    text-align: center;">
        <h3><a class="text-dark" href="">AİLE ve ÇİFT TERAPİSİ</a></h3>
      </div>
    <div style="width: 81%;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    line-height: 2;
" class="content-ser">
        <p class="text-ser">Aile ve çift terapisi; değişim ve gelişimi sağlamak adına,
aileler ve çiftler arasındaki yakın ilişkinin çalışıldığı,
psikoterapinin bir dalıdır. Aile bireyleri ve çiftler arasındaki
ilişkilerin geliştirilmesi ve güçlenmesi, aile içinde yaşanan
problemlerin ve çatışmaların terapistin sağladığı güvenli bir
ortamda kalıcı bir şekilde değişimini amaçlar. Hem aile içi
ilişkileri düzenlenmesi hem de diğer insanlar ve durumlar
ile ilişkilerin düzenlenmesini içerir. </p>

<p>Aile, kendi sorunlarını çözmesini engelleyen unsurları,
süregelen işlevsiz döngülerin farkına vararak, problemlerini
yapıcı bir şekilde çözebilmek için kaynaklarını ve güçlü
yanlarını etkin bir şekilde kullanmayı öğrenir; Ailede tek bir
problemli kişi etiketlemesi yerine herkes sorumluluk
alabilir, bakış açıları genişler, stres azalır ve iyileşme tüm
aileyi etkiler. </p>
<p>Aile ve Çift Terapisinden Kimler Yararlanabilir?
Özellikle aile ve çift ilişkilerinde problem yaşayan herkes
bu terapi yönteminden yararlanabilir. Aile ve çift terapisinin
çok geniş ve yaygın bir kullanım alanı vardır. Tüm
psikiyatrik/psikolojik bozukluklarda, diğer yöntemlerle
birlikte kullanılabilir. Kullanım alanlarından bazıları
aşağıdaki gibidir:</p>
<p>
<ul>
<li>Çift ilişkileri </li>
<li> Evlilik problemleri</li>
<li> Boşanma</li>
<li>Çocuk, ergen ve yetişkin ruh sağlığı </li>
<li>Çocuk ve ergenlerde davranış bozukluğu ve okul problemleri</li>
<li>Yeme bozuklukları </li>
<li>Alkol ve madde kullanımı </li>
<li>Kronik fiziksel rahatsızlıklar </li>
<li>Yas, kayıp ve travmalar
    Duygusal istismar, ihmal ve şiddet
    Aile yaşamında değişiklikler (iş değişikliği, taşınma
    vb.) </li>
<li>Anksiyete ve depresyonu da içeren duygusal bozukluklar </li>
<li> Ebeveynlik becerileri</li>
<li>Üvey bireyi bulunan aileler destek. </li>
<li>Psikoseksüel zorluklar </li>
<li>Evlat edinme, üvey ebeveyn/çocuk ilişkileri </li>
<li>Kendine zarar verici davranış </li>
<li>Travma sonrası çocuklara, gençlere ve yetişkinlere destek</li>
<li>Göç eden ailelere destek </li>
<li>İş stresi </li>
<li>Ekonomik problemler</li>


</ul> </p>
<p>Aile ve çift terapisi bazı uygulamalarda tüm aile üyeleri
aynı seansa bir araya gelirken, terapist aile üyelerinden bir
yada ikisini veya çiftleri bir arada görebilir.
Beraber çalıştığımızda süreçlerinizin daha fazla farkına
varacaksınız ve sorunlarınızı daha rahat çözebileceğinizi
hissedeceksiniz. Amacım sizi kalıcı bir değişimle baş başa
bırakmak. Uzun vadede ilişkinin genel kalitesini artıracak,
farklı durumlarda bu anlayışı uygulamaya koyabilmeniz için
kendinizi daha iyi anlamınıza yardımcı oluyorum.</p>
       </div>

</div>

{% endblock body %}
