{% extends "layout.html" %}

{% block body %}

<div> 
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename = 'images') }}">
{% if article %}
<h4 style="text-align: center;">{{article.title}}</h4>
<hr> 
<div class="articles" style="text-align:center;">
<img src="../static/images/{{article.image}}" style="width: 80%;"  >
</div>
<hr>
{{article.content|safe}}
<hr>
{{article.created_at}}
{% else %}
<div class="alert alert-warning">Böyle bir makale bulunmamaktadır.</div>
</div>

{% endif %}

{% endblock body %}
