{% extends "layout.html" %}


{% block body %}

<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename = 'images') }}">
{% if articles  %}


{% for article in articles %}
          
<div id="blog" class="card">
  <div class="image">
    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]"  src="http://127.0.0.1:5000/static/images/{{article.image}}" data-holder-rendered="true">
  </div>
  <div class="title">
    <h3><a class="text-dark" href="/articles/{{article.id}}">{{article.title}}</a></h3>
  </div>
   <div class="content">
    <p class="card-text">{{article.content[:250]|safe}}[...]</p>
   </div>
    <div class="buton">
      <a class="btn btn-primary" href="/articles/{{article.id}}">Devamını Oku</a>
    </div>
</div>    


  
  
{% endfor %}

      <br>

      
   
{% else %}
{% endif %}


{% endblock body %}


