{% extends "layout.html" %}

{% block body %}
<div class="services-article">
    <div class="image-ser">
        <img  style="height: 400px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        width: 80%;
    " class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]"  src="http://127.0.0.1:5000/static/images/atölye.jpeg" data-holder-rendered="true">
    </div>
    <div class="title-ser" style="margin: 20px;
    text-align: center;">
        <h3><a class="text-dark" href="">ATÖLYE ve EĞİTİM</a></h3>
      </div>
    <div style="width: 81%;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    line-height: 2;
" class="content-ser">
        <p class="text-ser">Atölye ve eğitim çalışmalarımız hem oluşturulacak özel gruplara hem de
kurumlara özel düzenlenmektedir. </p>
<p> <b>Etkili Ebeveynlik Eğitimi</b> <br>
Ana-babaların çocuklarına istenilen davranış ve alışkanlıkları kazandırabilmeleri,
kendi kendini denetleyen, duygu ve düşüncelerini özgürce ifade edebilen ve
girişimci bir birey olmalarının sağlayabilmeleri, öncelikle onları tanımaları ve
onlarla sağlıklı bir iletişim kurmalarıyla mümkündür.
Etkili ebeveynlik eğitim programının amacı, ebeveynlerin çocuklarına karşı
olumlu tutum ve davranışlar geliştirmesine yardımcı olmak, anne babalara
çocukları ile nasıl sağlıklı iletişim kurabileceklerini anlatmak, çocuğun süreç
içinde değişimi ve gelişimine ilişkin özellikleri aktarmak, çocuk ve genci
ilgilendiren gelişimsel ve güncel konularda anne ve babalara rehberlik etmektir. </p>

<p> <b> Kişisel Gelişim Eğitimleri </b> <br>
Kendinizi yeterince tanıyor musunuz?
Kendinizle ilgili düşünceleriniz olumlu mu, olumsuz mu?
Bundan 5 yıl önce kendiniz hakkında aynı şekilde mi düşünüyordunuz
Kendinizle ilgili düşüncelerinizi değiştirebilir misiniz?
Beş yıl sonra kendinizle ilgili düşünceleriniz aynı mı kalacak, yoksa değişecek
mi? </p>
<p>Günlük yaşamımızı öfke, kaygı ve çöküntü gibi duygularla sürdürüyorsak,
bunların sorumluluğunu, ilişkili oldukları olaylarda değil, bu olaylar ilgili
kafamızda oluşturduğumuz yorum ve anlamlarda ve bunların kaynağı olan
inançlar sisteminde aramamız gerekir. Akılcı ve gerçekçi olmayan düşünce ve
inanç tarzlarını öğrenmiş veya bunlara şartlanmış olup yaşamımızı duygusal
rahatsızlık ve uyumsuzluklarla doldurabiliriz. Sizi sınırlandıran ve hayatı tam
haliyle; istekli, memnun ve yaşam dolu yaşamadığınızı açıklamak için
sahiplendiğiniz düşüncelerinizi dönüştürebilirsiniz. Kişisel gelişim eğitim

programının amacı, kendini tanıma, zihinsel, duygusal ve bedensel farkındalık
kazanma, öz değer geliştirme, zor duyguları dönüştürme, kendini ifadeyi
geliştirme, duygusal gerilimle baş edebilme, sağlıklı ilişki kurma becerilerini
geliştirmeyi hedeflemekledir.</p>
       </div>

</div>

{% endblock body %}
