{% extends "layout.html" %}

{% block body %}
<div class="services-article">
    <div class="image-ser">
        <img  style="height: 400px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        width: 80%;
    " class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]"  src="{{ url_for('static', filename = 'images/bireysel.jpg') }}" data-holder-rendered="true">
    </div>
    <div class="title-ser" style="margin: 20px;
    text-align: center;">
        <h3><a class="text-dark" href="">Bireysel Danışmanlık</a></h3>
      </div>
    <div style="width: 81%;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    line-height: 2;
" class="content-ser">
        <p class="text-ser">Bireysel terapi, terapist ile danışan arasında gizlilik ilkesi doğrultusunda
            gerçekleşen, danışanın hayatında karşılaştığı zorlukların üstesinden
            gelmesinde kendi kendine yardım etme becerilerini geliştiren, danışanın
            öğrenme, değişme ve gelişmesinde terapistin danışana rehberlik etme
            sürecidir. </p>
            <p> Kişi; yalnızlık, üzüntü, utanç, yas, öfke, suçluluk gibi duygularını; eş, aile,
            arkadaş ile ilgili ilişkisel problemlerini, korkularını, fobilerini, depresyon,
            kaygı, stres, öfke, değişim ile baş etmekte güçlük, travmalar, cinsel
            sorunlar, uyku sorunları, yeme bozuklukları, kişilik bozuklukları, panik
            atak ve bunun gibi birçok konuyu terapi sürecinde çalışabilmektedir.
            Yaşam birey için bazen o kadar yıkıcı bir hal alabilir ki aşırı stres,
            tatminsizilik ya da mutsuzluk gibi duygular yaşamın normal akışında
            devam etmesini olanaksız kılar. </p>
            <p>Terapi süreci aslında bir keşif sürecidir. Terapist ise bu yolculukta
            danışana eşlik eder. Kazanılan kişisel farkındalıkla danışan sorunlarını
            daha iyi anlamaya başlar, sorunlarını farklı bir bakış açısıyla görür. Eski
            meselelerle ilgili yeni bakış açıları kazanır ve ekili iletişim kurmayı
            öğrenir. Danışanın kendine olan güveni artıkça işlevsel davranış gelişimi,
            problem çözümü ve var olan kaynaklarını keşfetme ve geliştirme
            sonucunda baş edebilme yetisi artar ve değişen yaşam koşullarına
            uyumu kolaylaşır.</p>
       </div>

</div>
{% endblock body %}