{% extends "layout.html" %}

{% block body %}
<div class="services-article">
    <div class="image-ser">
        <img  style="height: 400px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        width: 80%;
    " class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]"  src="{{ url_for('static', filename = 'images/family.jpg') }}" data-holder-rendered="true">
    </div>
    <div class="title-ser" style="margin: 20px;
    text-align: center;">
        <h3><a class="text-dark" href="">ÇOCUK-ERGEN ve AİLE DANIŞMANLIĞI</a></h3>
      </div>
    <div style="width: 81%;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    line-height: 2;
" class="content-ser">
        <p class="text-ser">Çocuklar, gelişim dönemleri boyunca çeşitli zorluklarla karşılaşırlar. Bu zorlukların
birçoğu kendiliğinden çözülür. Ancak yaşanan bazı zorlukları çözmek çocuklar ve
ebeveynleri için daha zorlayıcı olabilir. Bu dönemlerde profesyonel destek almak hem
sizin hem de çocuklarınızın baş etme becerilerini artıracaktır. </P>
 <P>
Size nerelerde yardımcı olabilirim?
    <ul>

<li> Anne babalığa Hazırlık</li>
<li>Ebeveynlik danışmanlığı (bağlanma problemleri, doğal /olumlu ebeveynlik, sınırkoyma vb) </li>
<li>Boşanma ve çocuk </li>
<li>Kayıp ve yas </li>
<li>Kardeş kıskançlığı </li>
<li>Okul isteksizliği </li>
<li>Dikkat ve konsantrasyon problemleri </li>
<li>Hiperaktivite </li>
<li> Yeme problemleri</li>
<li>Tuvalet problemleri </li>
<li>Teknoloji bağımlılığı (bilgisayar, televizyon, internet vb) </li>
<li>Sınav ve performans kaygısı </li>
<li>Çocukluk çağı korkuları (doğa olayları, karanlık, hayali varlıklar vb korkuları) </li>
<li>Ergenlik çağı sorunları (akran ilişkileri, iletişim ve okul sorunları vb) </li>
<li>Ergenlikte riskli davranışlar (okuldan kaçma, kendine zarar verme, çalma,madde kullanımı vb) </li>
<li> Çocuk ve ergende cinsel gelişim</li>
<li>Çocuk ve ergende cinsel gelişim </li>
<li>Kaygı bozuklukları (takıntılar, gece korkuları, ayrılık kaygısı vb) </li>
<li>Uyku problemleri </li>
<li> Öfke kontrol problemleri</li>
<li>Akran zorbalığı </li>
<li>İnatçılık </li>
<li>Özgüven problemleri </li>
<li> Tırnak yeme</li>
<li> Saç koparma</li>
<li>Tikler </li>
<li> Konuşma problemleri</li>
<li>Aile içi çatışmalar ve iletişim sorunları  </li>


</ul></p>
       </div>

</div>


{% endblock body %}