{% extends "layout.html" %}

{% block body %}
<div style="text-align: center; font-family: cursive">
  <h3>UZMAN PSİKOLOG ELİF TAŞTAN</h3>
</div>

<div class="contact-icon" >
  
  <a href="https://www.instagram.com/psikegunlugum/" target="_blanlk"><i style="color: rgb(187, 36, 36);" class="fab fa-instagram"></i></a>
  
  <a style="color: black;" href="tel:05055014618"><i class="fas fa-phone-volume">05055014618</i></a>
  <a style="color: black;" href="#card-contact"><i class="far fa-envelope">psikologtastan@gmail.com</i></a>
   </div>
<hr>
<div  id="card-contact" class="card" >
  <div class="card-body">
      <label class="__third_card_title __tct_third"><h4>Randevu Al</h4></label>
      <form action="https://formspree.io/f/xoqpkzea" method="post" id="contact_form">
          <input type="text" class="form-control __first_input" name="name_surname" placeholder="Adınız, Soyadınız" required="Boş bırakılamaz">
          <input type="text" class="form-control" name="phone_number" placeholder="Telefon numaranız" required="Boş bırakılamaz">
          <input type="text" class="form-control __first_input" name="email" placeholder="E-Posta Adresiniz" required="Boş bırakılamaz">
          <textarea class="form-control __first_input" name="message" placeholder="Mesajınız" required="Boş bırakılamaz"></textarea>
          <input type="hidden" name="_next" value="https://http://127.0.0.1:5000/contact">
          <button type="submit" value="Gönder" class="btn btn-danger" id="__contact_send">Gönder</button>
      </form>
  </div>
</div>
<br>

    <table id="contact-table" class="table" >
   
        <thead>
          <tr>
            <th>Çalışma Saatleri</th> 
          </tr>
        </thead>
         <tbody>
          <td>Pazartesi</td>
          <td>10:00-21:00</td> 
        </tr>
        <tr>
          <td>Salı</td>
          <td>10:00-21:00</td> 
        </tr>
        <tr>
          <td>Çarşamba</td>
          <td>10:00-21:00</td> 
        </tr>
        <tr>
          <td>Perşembe</td>
          <td>10:00-21:00</td> 
        </tr>
        <tr>
          <td>Cuma</td>
          <td>10:00-21:00</td> 
        </tr>
        <tr>
          <td>Cumartesi</td>
          <td>10:00-21:00</td> 
        </tr>
        <tr>
          <td>Pazar</td>
          <td>kapalı</td> 
        </tr>
        
        
      </tbody>
    </table>


  



{% endblock body %}

