{% extends "layout.html" %}

{% block body %}
<div style="text-align: center;">
<br>
<br>
<a href="/addarticle" style="width: 230px;" class="btn btn-danger">Yazı Ekle</a>
</div>
<br><br>
{% if articles  %}
<div class="container" style="display: inline-block;">
<table class="table table-hover" style="width: 100%">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Başlık</th>
      <th scope="col">İçerik</th>
      <th scope="col">Tarih</th>
      <th scope="col">Güncelle</th>
      <th scope="col">Sil</th>
    </tr>
  </thead>
  <tbody>
  
    {% for article in articles %}


    <tr>
      <th scope="row">{{article.id}}</th>
      <td><a href="/articles/{{article.id}}"><strong>{{article.title}}</strong></a></td>
      <td>{{article.content[:50]|safe}}</td>
      <td>{{article.created_at}}</td>
      <td><a href="/edit/{{article.id}}" class="btn btn-danger">Güncelle</a></td>
      <td><a href="/delete/{{article.id}}" class="btn btn-danger">Sil</a></td>
    </tr>
    
        
        
        
{% endfor %}

</tbody>     
</table>
</div>

       
{% else %}
<div class="alert alert-danger">Henüz Yazınız Bulunmamaktadır. </div>

{% endif %}
{% endblock body %}