{% extends "layout.html" %}

{% block body %}
<div class="services-article">
    <div class="image-ser">
        <img  style="height: 400px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        width: 80%;
    " class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]"  src="{{ url_for('static', filename = 'images/emdr.jpg') }}" data-holder-rendered="true">
    </div>
    <div class="title-ser" style="margin: 20px;
    text-align: center;">
        <h3><a class="text-dark" href="">EMDR ve TRAVMA</a></h3>
      </div>
    <div style="width: 81%;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    line-height: 2;
" class="content-ser">
        <p class="text-ser">Göz hareketleriyle duyarsızlaştırma ve yeniden işleme anlamına
gelen EMDR Dr. F. Shapiro tarafından keşfedilen ve geliştirilen
tüm dünyada etkin bir şekilde kullanılan travmatik durumlarda
müdahalede iyileşmeyi sağlayan etkili bir yöntemdir. </p>
<p>EMDR teorisinin altyapısını oluşturan Adaptif Bilgi İşleme
Modeline göre beyin, fizyolojik temelli bir sistemle, her yeni
deneyim aracılığı ile kendisine ulaşan bilgiyi işler ve işlevsel
hale getirir. Duygu, düşünce, duyum, imge, ses, koku gibi
bilgiler işlenip ilişkili anı ağlarına bağlanarak bütünleşir. Böylece
o deneyimle ilgili öğrenme gerçekleşir. Edindiğimiz bilgiler
gelecekte tepkilerimizi uygun bir şekilde yönlendirmek üzere
depolanmış olur. Bu sistem normal çalıştığında ruh sağlığını ve
insan gelişimini öğrenme yoluyla desteklediği için adaptif,
uyumlu bir mekanizma olarak kabul edilir. </p>
<p>Travmatik veya çok fazla rahatsız eden bir olay yaşandığında
bu sistem bozuluyor gibi gözükmektedir. Doğal afetler, büyük
kazalar, savaş, taciz, tecavüz, kayıplar, günlük hayatta yaşanan
olumsuz yaşam olayları, erken dönem çocuklukta yaşanan
olumsuz yaşantılar, utanç verici olaylar, hayal kırıklıkları şimdiki
zamanında mutsuzluğa neden olabilir. </p>
<p>Duygular, inançlar, fiziksel durumlar bedende ve zihinde
yükselerek, bugünkü algılamayı etkileyerek kişinin şimdiki
zamanında kendisini benzer bir eksiklik, güvensizlik ve kontrol
eksikliği noktasında görmesine neden olur. Kısaca geçmiş
şimdidir. Anılar işlevsel olmayan bir şekilde yanlış bir anı
formunda depolanmıştır. Bir olay yeterli şekilde işlendiğinde biz
olayı hatırlarız ancak eski duyguları hissetmeyiz,anılarımız
tarafından bilgilendiriliriz ama kontrol edilmeyiz. </p>

<p>Emdr bu tür izole anıların işlenmesini sağlayan fizyolojik temelli
bir terapi yaklaşımıdır. Beynin zamanında yapamadığı adapif
bilgi işlemenin seans sırasında yapılmasını sağlar. Kilitli kalmış
anı ile diğer anı ağları arasında ilişki kurulması, öğrenmenin
sağlanarak, bilginin adaptif bir şekilde depolanması mümkün
olur. Danışan artık rahatsız olmaz ve anıyı yeni ve sağlıklı bir
perspektiften görür. Çocuk bakış açısındaki suçluluk korku
gittikçe sorumluluk, güvenlik ve seçim yapabilme özgüvenini
içeren yetişkin bakış açısına dönüştürülebilir. Öz yeterlilik ve
sağlıklılık göstergeleri artarken kaygı ve depresyon belirtileri
azalır. Emdr Terapisi ile sadece semptomlar ortadan kalkmaz
yeni bakış açısının kazandığı pozitif inançlar ve olumlu duygular
kişinin kendisine, ilişkilerine dünyaya bakış açısını da olumlu
yönde değiştirip kişisel gelişim sağlar.</p>
       </div>

</div>



{% endblock body %}