{% extends "layout.html" %} {% block body %}

<div class="c-hero">
  <div><img src="{{ url_for('static', filename = 'images/logo.jpg') }}" class="img-fluid" /></div>

  <div class="c-hero-content">
    <h1>Online Psikolojik Destek ve Danışma Hattı</h1>
    <p>
      Randevu talepleriniz ve bilgi almak için randevu al butonuna tıklayıp
      formu eksiksiz dolduruyorsunuz.Sizinle irtibata geçerek,ilk randevumuz
      için tarih ve saat belirliyoruz.Kararlaştırdığımız randevu tarih ve
      saatinde online danışmanlığımıza başlıyoruz.Dilerseniz bu adımları ietişim
      numaramı arayıp gerçekleştirebilirsiniz.
    </p>

    <a href="/contact"> <strong class="btn btn-warning"> Randevu Al</strong></a>
  </div>
</div>
<div class="personel-info">
  <img
    src="{{ url_for('static', filename = 'images/elifa.jpg') }}"
    class="img-fluid"
  />
  <p class="text container" >
    İnsan olmak uzun bir yolculuktur. Bu yolculukta pek çok yaşantı
    deneyimleriz. Bu deneyimlerimiz olumlu ve olumsuz duyguları da beraberinde
    getirir. Aslında her iki duyguda yaşamın doğasında vardır ve bizi biz yapan
    unsurların yapısını oluşturur. Hayatta yaşadığımız deneyimler bazı
    durumlarda zorlayıcı olabilir ve kişi kendini umutsuzluk, çaresizlik
    duyguları ile sıkışmışlık içinde hisseder. Bu yoğun rahatsızlık kişinin
    kendisi ile ilişkisini, sosyal hayatını ve iş hayatını olumsuz yönde
    etkiler. <br /><br />
    Sorunlarınızı aşmanın sorumluluğu size ait olsa da artık yalnız değilsiniz!
    Beraber çalıştığımızda, neler olup bittiğini daha net anlamanıza, kendiniz
    ve başkaları ile olan ilişkileriniz hakkında düşünmeniz için yeni yollar
    yaratmanıza yardımcı olabilirim. Sizi neyin hareke geçirdiğini ve sizi
    engellediğini daha deneyimsel olarak anlamanıza ve var olmanın daha yararlı
    yollarını belirlemenize imkan tanıyan, yaratıcı ve pratik bir yaklaşım
    sergiliyorum. Çalışma sürecinde ve sonunda hedefleri gerçeğe dönüştürmeyi
    öğrenebilir ve günden güne daha büyük bir huzur duygusu bulabilirsiniz.
  </p>
</div>

<div class="therapy">
  <div class="terapi">
    <img src="{{ url_for('static', filename = 'images/psikoterapi.jpg') }}" />
    <div class="terapi-content">
      <h4 style="text-align: center">AİLE ve ÇİFT TERAPİSİ</h4>
      <span
        ><p>
          Aile danışmanı, aile üyelerinin aralarında bulunan ilişkilerdeki
          sorunları açığa çıkaran ve bireylerin bu sorunlar hakkında farkındalık
          kazanmalarına neden olan kişilerdir.
        </p>
      </span>
      <a href="/services" class="btn btn-warning" style="text-align: center"
        >DAHA FAZLA</a
      >
    </div>
  </div>

  <div class="terapi">
    <img src="{{ url_for('static', filename = 'images/bireysel.jpg') }}" />
    <div class="terapi-content">
      <h4 style="text-align: center">BİREYSEL DANIŞMANLIK</h4>
      <span
        ><p>
          Bireysel terapi, terapist ile danışan arasında gizlilik ilkesi doğrultusunda
          gerçekleşen, danışanın hayatında karşılaştığı zorlukların üstesinden
          gelmesinde kendi kendine yardım etme becerilerini geliştiren, danışanın
          öğrenme, değişme ve gelişmesinde terapistin danışana rehberlik etme
          sürecidir.
        </p>
      </span>
      <a href="/services" class="btn btn-warning" style="text-align: center"
        >DAHA FAZLA</a
      >
    </div>
  </div>

  <div class="terapi">
    <img src="{{ url_for('static', filename = 'images/emdr.jpg') }}" />
    <div class="terapi-content">
      <h4 style="text-align: center">EMDR ve TRAVMA</h4>
      <span
        ><p>
          Göz hareketleriyle duyarsızlaştırma ve yeniden işleme anlamına gelen
          EMDR Dr. F. Shapiro tarafından keşfedilen ve geliştirilen tüm dünyada
          etkin bir şekilde kullanılan travmatik durumlarda müdahalede
          iyileşmeyi sağlayan etkili bir yöntemdir.
        </p>
      </span>
      <a href="/services" class="btn btn-warning" style="text-align: center"
        >DAHA FAZLA</a
      >
    </div>
  </div>



<div class="terapi">
  <img src="{{ url_for('static', filename = 'images/online-terapi.jpg') }}" />
  <div class="terapi-content">
    <h4 style="text-align: center">ONLİNE TERAPİ</h4>
    <span
      ><p>
        Online terapi hizmeti, bilimselliği kanıtlanmış bir servistir. Evinizde,
        ofisinizde veya internet başında herhangi bir yerde uzman kişiler
        aracılığı ile yapılan danışma şeklidir. İnternet teknolojilerinde hızlı
        gelişmeler psikolojik yardımın geleneksel ortamların dışında
        verilmesini de beraberinde getirmiştir.
      </p>
    </span>
    <a href="/services" class="btn btn-warning" style="text-align: center"
      >DAHA FAZLA</a
    >
  </div>
</div>
</div>


<div class="alert alert-info" role="alert">
  <h4 class="alert-heading">Çalışma Saatleri</h4>
  <p>Hafta İçi ve Cumartesi: 10:00-21:00</p>
</div>

<div id="indx" class="card">
  <div class="card-body">
    <label class="__third_card_title __tct_third"
      ><h4>Ücretsiz Soru Sor</h4></label
    >
    <label
      class="__fourth_card_description text-center pb-2"
      style="display: flex"
    >
      Merak ettiğiniz aklınıza takılan tüm sorularınızı tek bir yerden bana
      iletebilirsiniz.
    </label>
    <form
      action="https://formspree.io/f/xoqpkzea"
      method="post"
      id="contact_form"
    >
      <input
        type="text"
        class="form-control __first_input mb-1"
        name="name_surname"
        placeholder="Adınız, Soyadınız"
      />
      <input
        type="text"
        class="form-control __first_input mb-1"
        name="email"
        placeholder="E-Posta Adresiniz"
      />
      <textarea
        class="form-control __first_input mb-1"
        name="message"
        placeholder="Mesajınız"
      ></textarea>
      <input
        type="hidden"
        name="_next"
        value="https://http://127.0.0.1:5000/contact"
      />
      <button
        type="submit"
        value="Gönder"
        class="btn btn-danger mt-3"
        id="__contact_send"
      >
        Gönder
      </button>
    </form>
  </div>
</div>

<footer>
  <div class="contact-icon" >
 
    <a href="https://www.instagram.com/psikegunlugum/" target="_blanlk"><i style="color: rgb(187, 36, 36);" class="fab fa-instagram"></i></a>
    
    <a style="color: black;" href="tel:05055014618"><i class="fas fa-phone-volume">05055014618</i></a>
    <a style="color: black;" href="/contact#card-contact"><i class="far fa-envelope">psikologtastan@gmail.com</i></a>
     </div>
</footer>

{% endblock body %}
