<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="eterapidestek,online terapi,terapi,destek,Travma, Komleks Travma, Yas Terapisi, Çift ve Aile Terapisi,Depresyon,Öfke ve Stres Yönetimi, Eğitim Danışmanlığı, Kaygı Bozuklukları,Panik atak,Sınav Kaygısı, Fobiler,eterapi,psikolog,elif taştan,online psikolog,emdr terapisti,aile terapisti,okb,öfke ve stresle başa çıkabilme,"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/lib/bootstrap.min.css') }}">

    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{{ url_for('static', filename = 'style.css') }}"
    />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />

    <title>Psikolog Elif TAŞTAN</title>
  </head>

  <body>
    {% include "includes/navbar.html" %} {% include "includes/messages.html" %}

    <div class="container" style="margin-bottom: 50px;">{% block body %}{% endblock %}</div>

    <script src="{{ url_for('static', filename = 'js/lib/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/lib/jquery-3.2.1.slim.min.js') }}"></script>
    <script src="https://cdn.ckeditor.com/4.15.1/standard/ckeditor.js"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <script>
      CKEDITOR.replace("", {
        allowedContent: true,
      });
    </script>
  </body>
</html>
