{% extends "layout.html" %}

{% block body %}
<div class="services-article">
    <div class="image-ser">
        <img  style="height: 400px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        width: 80%;
    " class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]"  src="{{ url_for('static', filename = 'images/online-terapi.jpg') }}" data-holder-rendered="true">
    </div>
    <div class="title-ser" style="margin: 20px;
    text-align: center;">
        <h3><a class="text-dark" href="">Modern Bir Danışmanlık Yöntemi Olarak Online Terapi</a></h3>
      </div>
    <div style="width: 81%;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    line-height: 2;
" class="content-ser">
        <p class="text-ser">Online terapi hizmeti, bilimselliği kanıtlanmış bir servistir. Evinizde,
ofisinizde veya internet başında herhangi bir yerde uzman kişiler
aracılığı ile yapılan danışma şeklidir. İnternet teknolojilerinde hızlı
gelişmeler psikolojik yardımın geleneksel ortamların dışında
verilmesini de beraberinde getirmiştir. Yapılan çalışmalar, internet
tabanlı psikolojik danışmanlık almanın birçok sorunun çözümünde
yüz yüze yapılan danışma kadar etkili olduğunu göstermektedir.
En büyük avantajı ruh sağlığı hizmetlerine ulaşılabilirliğini
artırmaktadır. Çoğu kişi, evlerinin rahat ve güvenilir ortamından
bağlanmayı tercih etmektedir. Yoğun iş temposundan dolayı fırsat
bulamayanlar, hareket kabiliyeti kısıtlı olanların, şehir dışı veya
yurtdışında yaşayanlar, geleneksel terapiye göre görece daha
ekonomik olması, yurt dışında yaşayanların kendi kültüründen bir
uzmanla görüşmesini sağlaması, özel ve mahrem konuları yüz yüze
konuşmayı zor bulan ve internet ortamında kendini daha iyi ifade
edebileceğine inananlar, online terapiye olan ilgi ve talebi arttırmıştır.
Bu seanslar, esnek bir yapıya sahiptir. İstenilen tarih ve saatte seansa
girmek mümkündür. Kişinin kendini rahat hissettiği bir ortamda
internet aracılığı ile seansa katılması büyük bir kolaylıktır. Online
danışmanlık bir danışmanlık merkezine başvurmaktan daha kolay
olduğu için; gelişen teknolojiye paralel olarak giderek daha çok kişi
tarafından tercih edilmektedir.
Psikolojik destek ve danışmanlığa ihtiyacınız olduğunuzu
düşünüyorsanız, detaylı bilgi almak için Elif Taştan’ı <b> 5055014618</b>
numaradan arayabilir, ya da <b>psikologtastan@gmail.com</b>  adresine
yazarak hemen iletişime geçebilirsiniz. Tanışma ve ücretsiz ön
görüşme saatimizi belirlemek için sizi bekliyor olacağım.</p>
       </div>

</div>


{% endblock body %}