{% extends "layout.html" %}

{% block body %}

  
  <h3 style="text-align: center;">Çalışma Alanları</h3><hr>
  <div id="blog" class="card">
    <div class="image">
      <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]"  src="http://127.0.0.1:5000/static/images/bireysel.jpg" data-holder-rendered="true">
    </div>
    <div class="title">
      <h3><a class="text-dark" href="/bireysel-danışmanlık">Bireysel Danışmanlık</a></h3>
    </div>
     <div class="content">
      <p class="card-text">Bireysel terapi, terapist ile danışan arasında gizlilik ilkesi doğrultusunda
        gerçekleşen, danışanın hayatında karşılaştığı zorlukların üstesinden
        gelmesinde kendi kendine yardım etme becerilerini geliştiren, danışanın
        öğrenme, değişme ve gelişmesinde terapistin danışana rehberlik etme
        sürecidir.[...]</p>
     </div>
      <div class="buton">
        <a class="btn btn-primary" href="/bireysel-danışmanlık">Devamını Oku</a>
      </div>
  </div>    
  

  <div id="blog" class="card">
    <div class="image">
      <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]"  src="http://127.0.0.1:5000/static/images/psikoterapi.jpg" data-holder-rendered="true">
    </div>
    <div class="title">
      <h3><a class="text-dark" href="/aile-ve-çift-terapisi">AİLE ve ÇİFT TERAPİSİ</a></h3>
    </div>
     <div class="content">
      <p class="card-text">Aile ve çift terapisi; değişim ve gelişimi sağlamak adına,
        aileler ve çiftler arasındaki yakın ilişkinin çalışıldığı,
        psikoterapinin bir dalıdır. Aile bireyleri ve çiftler arasındaki
        ilişkilerin geliştirilmesi ve güçlenmesi, aile içinde yaşanan
        problemlerin ve çatışmaların terapistin sağladığı güvenli bir
        ortamda kalıcı bir şekilde değişimini amaçlar.[...]</p>
     </div>
      <div class="buton">
        <a class="btn btn-primary" href="/aile-ve-çift-terapisi">Devamını Oku</a>
      </div>
  </div>    


  <div id="blog" class="card">
    <div class="image">
      <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]"  src="http://127.0.0.1:5000/static/images/emdr.jpg" data-holder-rendered="true">
    </div>
    <div class="title">
      <h3><a class="text-dark" href="/emdr">EMDR ve TRAVMA</a></h3>
    </div>
     <div class="content">
      <p class="card-text">Göz hareketleriyle duyarsızlaştırma ve yeniden işleme anlamına
        gelen EMDR Dr. F. Shapiro tarafından keşfedilen ve geliştirilen
        tüm dünyada etkin bir şekilde kullanılan travmatik durumlarda
        müdahalede iyileşmeyi sağlayan etkili bir yöntemdir.[...]</p>
     </div>
      <div class="buton">
        <a class="btn btn-primary" href="/emdr">Devamını Oku</a>
      </div>
  </div>    

  <div id="blog" class="card">
    <div class="image">
      <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]"  src="http://127.0.0.1:5000/static/images/online-terapi.jpg" data-holder-rendered="true">
    </div>
    <div class="title">
      <h3><a class="text-dark" href="/online-terapi">ONLİNE TERAPİ</a></h3>
    </div>
     <div class="content">
      <p class="card-text">Online terapi hizmeti, bilimselliği kanıtlanmış bir servistir. Evinizde,
        ofisinizde veya internet başında herhangi bir yerde uzman kişiler
        aracılığı ile yapılan danışma şeklidir. İnternet teknolojilerinde hızlı
        gelişmeler psikolojik yardımın geleneksel ortamların dışında
        verilmesini de beraberinde getirmiştir.[...]</p>
     </div>
      <div class="buton">
        <a class="btn btn-primary" href="/online-terapi">Devamını Oku</a>
      </div>
  </div>    

  <div id="blog" class="card">
    <div class="image">
      <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]"  src="http://127.0.0.1:5000/static/images/family.jpg" data-holder-rendered="true">
    </div>
    <div class="title">
      <h3><a class="text-dark" href="/çocuk-ergen-aile">ÇOCUK, ERGEN VE AİLE DANIŞMANLIĞI</a></h3>
    </div>
     <div class="content">
      <p class="card-text">Çocuklar, gelişim dönemleri boyunca çeşitli zorluklarla karşılaşırlar. Bu zorlukların
        birçoğu kendiliğinden çözülür. Ancak yaşanan bazı zorlukları çözmek çocuklar ve
        ebeveynleri için daha zorlayıcı olabilir. Bu dönemlerde profesyonel destek almak hem
        sizin hem de çocuklarınızın baş etme becerilerini artıracaktır.[...]</p>
     </div>
      <div class="buton">
        <a class="btn btn-primary" href="/çocuk-ergen-aile">Devamını Oku</a>
      </div>
  </div>    
  
  

{% endblock  %}