{% extends "layout.html" %}


{% block body %}
<h3 style="text-align: center;">Sevgili Terapist Nedir?</h3> <hr>
<div class="text" style="margin-right: auto;
max-width: 80%;
margin-left: auto;
font-size: large;
font-family: cursive;
font-style: italic;
"> 
<div style="margin-bottom: 2%;">
    <img  class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]"  src="http://127.0.0.1:5000/static/images/sevgili-terapist.jpg" data-holder-rendered="true">
</div>

<div>
   <p> Hayat bazen zorlayıcı olabilir. Yaşanan sorunlar bireyin sevgi, anlayış ve destek
    kaynakları olan sistemlerle ilişkilerini zayıflatabilir, sosyal ve psikolojik açıdan
    izole duruma düşürebilir.</p>
   <p> Her insan kendi yaşamlarının uzmanıdır ve sorunlarını çözmekte kendilerine
    yardımcı olacak yeteneklere sahiptir. Yaşadığımız her bir deneyim bilgi içerir,
    bu bilgiyi keşfetmek ve işlemek gerekir. Bilgiyi işlemek,
    deneyimlerimizle ilgili olay ve öyküleri bütünleştirerek hayata hizmet
    eden bir anlatıya dönüştürmek demektir. Bu duygusal yükleri fark etmek
    ve boşaltmak çok gereklidir. Yazı yazarak anlatabilmek iyileşmeye giden
    en önemli araçlardan biridir.</p>
    <p> Hayatınızda sizi zorlayan problem durumu ile olan hikâyenizi bu
    bölümde bana ayrıntılı olarak yazabilirsiniz. Bu hizmet, yüz yüze
    terapi imkanı olmayan veya yazarak kendini daha iyi ifade
    edebilen danışanlarım içindir. Size en kısa sürede geribildirim
    yazıyor olacağım.</p>
</div>
</div>

  <div style="width: 40%; display: flex;
    justify-content: center; font-size: 20px;
    margin: 15px auto;" class="btn bg-warning"> <a href="mailto:psikologtastan@gmail.com" target="_blank" class="elementor-button-link elementor-button elementor-size-sm" role="button"> <span class="elementor-button-content-wrapper"> <span style="color: black;" class="elementor-button-text"><b>HİKAYENİ YAZ</b> </span> </span> </a></div>

<footer>
  <div class="contact-icon" >
 
    <a href="https://www.instagram.com/psikegunlugum/" target="_blanlk"><i style="color: rgb(187, 36, 36);" class="fab fa-instagram"></i></a>
    
    <a style="color: black;" href="tel:05055014618"><i class="fas fa-phone-volume">05055014618</i></a>
    <a style="color: black;" href="/contact#card-contact"><i class="far fa-envelope">psikologtastan@gmail.com</i></a>
     </div>
</footer>

{% endblock body %}
