{% extends "layout.html" %}


{% block body %}
<h3 style="text-align: center;">Sevgili Terapist Nedir?</h3> <hr>
<div class="text" style="margin-right: auto;
max-width: 80%;
margin-left: auto;
font-size: large;
font-family: cursive;
"> 
<div>
    <img  style="height: 400px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        width: 80%;
    " class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]"  src="http://127.0.0.1:5000/static/images/sevgili-terapist.jpg" data-holder-rendered="true">
</div>

<div>
   <p> Hayat bazen zorlayıcı olabilir. Yaşanan sorunlar bireyin sevgi, anlayış ve destek
    kaynakları olan sistemlerle ilişkilerini zayıflatabilir, sosyal ve psikolojik açıdan
    izole duruma düşürebilir.</p>
   <p> Her insan kendi yaşamlarının uzmanıdır ve sorunlarını çözmekte kendilerine
    yardımcı olacak yeteneklere sahiptir. Yaşadığımız her bir deneyim bilgi içerir,
    bu bilgiyi keşfetmek ve işlemek gerekir. Bilgiyi işlemek,
    deneyimlerimizle ilgili olay ve öyküleri bütünleştirerek hayata hizmet
    eden bir anlatıya dönüştürmek demektir. Bu duygusal yükleri fark etmek
    ve boşaltmak çok gereklidir. Yazı yazarak anlatabilmek iyileşmeye giden
    en önemli araçlardan biridir.</p>
    <p> Hayatınızda sizi zorlayan problem durumu ile olan hikâyenizi bu
    bölümde bana ayrıntılı olarak yazabilirsiniz. Bu hizmet, yüz yüze
    terapi imkanı olmayan veya yazarak kendini daha iyi ifade
    edebilen danışanlarım içindir. Size en kısa sürede geribildirim
    yazıyor olacağım.</p>
</div>
</div>

<div  id="card-terapist" class="card" style="max-width: 80%;
margin-left: auto;
margin-right: auto;
margin-top: 45px;
background-color: #c2c3c387;
" >
    <!-- <div class="card-body">
        <label  class="__third_card_title __tct_third"><h4>Hikayeni Yaz </h4></label>
        <form action="https://formspree.io/f/xoqpkzea" method="post" id="contact_form">
            <input type="text" class="form-control __first_input" name="name_surname" placeholder="Adınız, Soyadınız" required="Boş bırakılamaz">
            <input type="text" class="form-control" name="phone_number" placeholder="Telefon numaranız" required="Boş bırakılamaz">
            <input type="text" class="form-control __first_input" name="email" placeholder="E-Posta Adresiniz" required="Boş bırakılamaz">
            <textarea class="form-control __first_input" name="message" placeholder="Mesajınız" required="Boş bırakılamaz"></textarea>
            <input type="hidden" name="_next" value="https://http://127.0.0.1:5000/contact">
            <button type="submit" value="Gönder" class="btn btn-danger" id="__contact_send">Gönder</button>
        </form>
    </div>
  </div> -->
  <div style="width: 100%;" class="btn bg-warning"> <a href="mailto:psikologtastan@gmail.com" target="_blank" class="elementor-button-link elementor-button elementor-size-sm" role="button"> <span class="elementor-button-content-wrapper"> <span class="elementor-button-text">Hikayeni Yaz</span> </span> </a></div>
{% endblock body %}
